<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.locmess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".UI.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.LoginActivity">

        </activity>
        <activity
            android:name=".UI.SignupActivity"
            android:parentActivityName=".UI.LoginActivity">

            <!-- The meta-data tag is required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LoginActivity" />
        </activity>

        <activity
            android:name=".UI.MessagesActivity"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.HomeActivity" />
        </activity>
        <activity
            android:name=".UI.MessageViewActivity"
            android:parentActivityName=".UI.MessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MessagesActivity" />
        </activity>
        <activity
            android:name=".UI.PostMessageActivity"
            android:parentActivityName=".UI.HomeActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.HomeActivity" />
        </activity>
        <activity
            android:name=".UI.PostMessageDateTime"
            android:parentActivityName=".UI.PostMessageActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.PostMessageActivity" />
        </activity>
        <activity
            android:name=".UI.PostMessageRules"
            android:parentActivityName=".UI.PostMessageDateTime"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.PostMessageDateTime" />
        </activity>
        <activity
            android:name=".UI.AddMessageRuleActivity"
            android:parentActivityName=".UI.PostMessageRules"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.PostMessageRules" />
        </activity>
        <activity
            android:name=".UI.LocationsActivity"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.HomeActivity" />
        </activity>
        <activity
            android:name=".UI.AddGPSLocationActivity"
            android:parentActivityName=".UI.LocationsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LocationsActivity" />
        </activity>
        <activity
            android:name=".UI.AddWiFiLocation"
            android:parentActivityName=".UI.LocationsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LocationsActivity" />
        </activity>
        <activity
            android:name=".UI.ProfileActivity"
            android:parentActivityName=".UI.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.HomeActivity" />
        </activity>
        <activity
            android:name=".UI.AddInterestActivity"
            android:parentActivityName=".UI.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.ProfileActivity" />
        </activity>

        <activity android:name=".UI.LocationGPSViewActivity"></activity>
	
	<receiver android:name="pt.ulisboa.tecnico.cmov.locmess.FetchMessagesBroadcastReceiver"/>
        <!--<receiver android:name="pt.ulisboa.tecnico.cmov.locmess.SimWifiP2pBroadcastReceiver"/>
        <receiver android:name="pt.ulisboa.tecnico.cmov.locmess.WifiReceiver"/>-->
        <service android:enabled="true" android:name="pt.ulisboa.tecnico.cmov.locmess.FetchMessagesService" />
        <service android:enabled="true" android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

    </application>

</manifest>
